# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


git.sh
work.ipynb

.ipynb_checkpoints


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.workspace-config.json
.tempfile
